<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApp1.Properties.Settings.PROOFConnectionString"
      connectionString="Data Source=.\MSSQLDEV;Initial Catalog=PROOF;User ID=sa;Password=ascet"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApp1.Properties.Settings.AMEDConnectionString"
      connectionString="Data Source=VMFA40DC2\MSSQLDEV;Initial Catalog=AMED;Persist Security Info=True;User ID=sa;Password=ascet"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/Custom Palette #1</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="240,240,240" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="216,216,216" />
                <SvgColor Name="Paint Deep Shadow" Value="210,210,210" />
                <SvgColor Name="Brush" Value="40,40,40" />
                <SvgColor Name="Brush High" Value="40,40,40" />
                <SvgColor Name="Brush Light" Value="120,120,120" />
                <SvgColor Name="Brush Major" Value="160,160,160" />
                <SvgColor Name="Brush Minor" Value="200,200,200" />
                <SvgColor Name="Accent Paint" Value="89,89,89" />
                <SvgColor Name="Accent Paint Dark" Value="63,63,63" />
                <SvgColor Name="Accent Paint Light" Value="206,221,245" />
                <SvgColor Name="Accent Paint Lighter" Value="220,233,252" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="165,186,217" />
                <SvgColor Name="Red" Value="208,49,68" />
                <SvgColor Name="Green" Value="56,152,83" />
                <SvgColor Name="Blue" Value="78,138,200" />
                <SvgColor Name="Yellow" Value="241,151,63" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="191,191,194" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
            <Skin Name="The Bezier">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="242,242,242" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="222,222,222" />
                <SvgColor Name="Paint Deep Shadow" Value="212,212,212" />
                <SvgColor Name="Brush" Value="80,80,80" />
                <SvgColor Name="Brush Light" Value="150,150,150" />
                <SvgColor Name="Brush High" Value="60,60,60" />
                <SvgColor Name="Brush Major" Value="180,180,180" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="23,107,209" />
                <SvgColor Name="Accent Paint Light" Value="191,224,255" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="81,148,224" />
                <SvgColor Name="Key Paint" Value="71,71,71" />
                <SvgColor Name="Key Brush" Value="255,255,255" />
                <SvgColor Name="Key Brush Light" Value="150,150,150" />
                <SvgColor Name="Red" Value="226,54,66" />
                <SvgColor Name="Green" Value="60,146,92" />
                <SvgColor Name="Blue" Value="58,116,194" />
                <SvgColor Name="Yellow" Value="252,169,10" />
                <SvgColor Name="Black" Value="122,122,122" />
                <SvgColor Name="Gray" Value="190,190,190" />
                <SvgColor Name="White" Value="255,255,255" />
                <SvgColor Name="altRed" Value="226,54,66" />
                <SvgColor Name="altGreen" Value="60,146,92" />
                <SvgColor Name="altBlue" Value="58,116,194" />
                <SvgColor Name="altYellow" Value="252,169,10" />
                <SvgColor Name="altBlack" Value="122,122,122" />
                <SvgColor Name="altGray" Value="190,190,190" />
                <SvgColor Name="altWhite" Value="White" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>